body,
h1,
h2,
h3,
p,
a {
  margin: 0;
  padding: 0;
  /* mantine style font */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
}

.content-wrapper {
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #f5f5f5;
  padding: 20px 0;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.header h1,
.header .subtitle,
.header .scam-count,
.navigation a {
  color: #333;
  margin: 5px 0;
}

.scam-item .highlight {
  background-color: #80addd; /* or any highlight color you prefer */
  border-radius: 3px;
  padding: 5px 10px;
  margin: 5px;
  font-size: 0.8em;
}

.navigation {
  margin-top: 10px;
}

.navigation a {
  text-decoration: none;
  color: #007bff;
  margin: 0 10px;
}

.navigation a:hover {
  text-decoration: underline;
}

.scam-list {
  /* max-width: 800px; */
  margin: 40px auto;
}

.scam-item {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  position: relative;
  flex-direction: column;
}

.scam-item .id-container {
  width: 100%;
  flex-shrink: 0;
  flex-basis: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: start;
  /* border-right: 1px solid #ddd; */
  .id-text {
    font-size: 1em;
    font-weight: bold;
    color: #333;
    padding: 10px;
    text-align: center;
  }
}

.scam-item .id {
  /* min-width: 90px; Ensure there's enough space for the "id" */
  flex-grow: 1; /* Allows the ID field to grow */
  flex-shrink: 0; /* Prevents the ID field from shrinking */
  font-weight: normal;
  color: #555;
  padding: 10px;
  text-align: left;
  min-width: 30px;
}

.scam-item .content-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.scam-item .message-box {
  background-color: #e7f3fe;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  flex-grow: 1;
  position: relative;
}

/* .scam-item .message-box::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: -10px;
  top: 10px;
  border: 5px solid transparent;
  border-right-color: #e7f3fe;
} */

.scam-item .date {
  align-self: flex-end;
  text-align: right;
  font-size: 0.8em;
  color: #555;
  margin-right: 8px;
}

.scam-item .details {
  display: flex;
  flex-direction: row; /* Stack the details vertically */
  align-items: flex-start;
  justify-content: flex-end;
  margin-left: auto;
  padding: 10px;
  flex-wrap: wrap;
}

.scam-item .category,
.scam-item .platform,
.scam-item .submissions {
  background-color: #f1f1f1;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 5px;
  font-size: 0.8em;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .scam-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .scam-item .id {
    border-right: none;
    /* border-bottom: 1px solid #ddd; */
    /* width: 100%; */
    text-align: left;
  }

  .scam-item .message-box::before {
    left: 10px;
    top: -10px;
    border: 5px solid transparent;
    border-bottom-color: #e7f3fe;
  }

  .scam-item .details {
    justify-content: center;
    padding: 10px;
  }
}

.sort-options {
  padding: 10px;
  text-align: center;
  /* width: 100%; */
}

.sort-options button {
  margin: 5px 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.sort-options button:hover {
  background-color: #e8e8e8;
}
